/*
 * @name Discord 1.6 (Catppuccin Frappe)
 * @author dom1torii
 * @description CS 1.6 + Old Steam Inspired Theme for Discord
 * @website https://github.com/dom1torii/discord16
 * @version 0.0.3
*/

@import url('https://raw.githubusercontent.com/dom1torii/discord16/refs/heads/main/src/discord16.theme.css');

/* --- Settings --- */
* {
    --font: "ArialPixel"; /* Change to "" for default font */
    --rounded-avatars: false;
    --steam-logo: true;
}

/* Colors */
* {
    --custom-bg: #303446;
    --custom-secondary-bg: #292c3c;

    --custom-accent: #babbf1;
    --custom-secondary-accent: #8caaee;

    --dark-border: #232634;
    --light-border: #838ba7;

    --custom-text: #c6d0f5;
    --custom-secondary-text: #949cbb;
}