/*
 * @name Discord 1.6 (Catppuccin Macchiato)
 * @author dom1torii
 * @description CS 1.6 + Old Steam Inspired Theme for Discord
 * @website https://github.com/dom1torii/discord16
 * @version 0.0.3
*/

@import url('https://raw.githubusercontent.com/dom1torii/discord16/refs/heads/main/src/discord16.theme.css');

/* --- Settings --- */
* {
    --font: "ArialPixel"; /* Change to "" for default font */
    --rounded-avatars: false;
    --steam-logo: true;
}

/* Colors */
* {
    --custom-bg: #24273a;
    --custom-secondary-bg: #1e2030;

    --custom-accent: #b7bdf8;
    --custom-secondary-accent: #8aadf4;

    --dark-border: #181926;
    --light-border: #8087a2;

    --custom-text: #cad3f5;
    --custom-secondary-text: #939ab7;
}