/*
 * @name Discord 1.6 (Gruvbox)
 * @author dom1torii
 * @description CS 1.6 + Old Steam Inspired Theme for Discord
 * @website https://github.com/dom1torii/discord16
 * @version 0.0.3
*/

@import url('https://raw.githubusercontent.com/dom1torii/discord16/refs/heads/main/src/discord16.theme.css');


* {
    --custom-bg: #32302f;
    --custom-secondary-bg: #282828;

    --custom-accent: #fabd2f;
    --custom-secondary-accent: #d79921;

    --dark-border: #1d2021;
    --light-border: #928374;

    --custom-text: #fbf1c7;
    --custom-secondary-text: #a89984;
}